section {
    display: flex;
    flex-direction: column;

    span {
        width: 45rem;
        padding: 1.5rem;

        color: #ead6e7;
        font-size: 2.5rem;
        text-align: center;
        background-color: rgb(49, 29, 60);

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    button {
        width: 15rem;
        border: none;
        font-size: 1.6rem;
        font-weight: 500;
        padding-block: 0.5rem;
        background-color: #d6c2d2;

        &:hover {
            opacity: 0.8;
        }
    }

    button:first-child {
        border-bottom-left-radius: 10px;
    }

    button:last-child {
        border-bottom-right-radius: 10px;
    }
}