header {
    span {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        font-size: 1.6rem;
        padding: 0.7rem 2rem;
        background-color: #1e0234;
        color: #a69862;

    img {
        width: 2rem;
    }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0.25rem 2rem;
        background-color: #310654;
        z-index: 4;

        a {
            width: 10rem;
            padding-block: 0.2rem;
            text-align: center;
            font-size: 1.3rem;
            font-weight: 500;
            color: #ead6e7;
        }

        a:hover {
            background-color: #ffffff21;
            border-radius: 30px;
        }
    }
}

footer {
    text-align: center;
    padding: 1.2rem 2rem;
    background-color: #1c0130;

    span {
        font-size: 1.2rem;
        color: #ead6e7;
    }
}