<header>
  <span> <img src="../assets/logo.svg" alt="Ícone de assassino do LoL">Welthanos</span>
  <nav>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    <a routerLink="/main" routerLinkActive="active" ariaCurrentWhenActive="page">A Campeã</a>
    <a routerLink="/mastery" routerLinkActive="active" ariaCurrentWhenActive="page">Maestrias</a>
    <a routerLink="/counter" routerLinkActive="active" ariaCurrentWhenActive="page">Contador</a>
    <a routerLink="/animes" routerLinkActive="active" ariaCurrentWhenActive="page">Animes</a>
  </nav>
</header>

<router-outlet />

<footer>
  <span>© 2024 Welthanos. Todos os direitos reservados.</span>
</footer>