button {
    font-size: 1rem;
    font-weight: 600;
    color: #e1dae5;
    background-color: #310654;

    padding: 0.5rem 1rem;
    margin-bottom: 1rem;

    border-radius: 5px;
    border: none;
    outline: none;
}