section {
    display: flex;
    flex-direction: column;

    div.resume {
        display: flex;
        width: 45rem;

        background-color: rgb(65, 30, 84);
        border-top-left-radius: 10px;

        span {
            width: 100%;
            padding: 1.5rem;

            color: #ead6e7;
            font-size: 2.5rem;
            text-align: center;
        }

        #result {
            color: rgb(65, 30, 84);
            background-color: #d6c2d2;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
    }

    button {
        width: 15rem;
        border: 1px solid #d6c2d2;
        font-size: 1.6rem;
        font-weight: 500;
        padding-block: 0.5rem;
        background-color: #fff6fd;
        color: rgb(65, 30, 84);

        &:hover {
            opacity: 0.8;
        }
    }

    button:first-child {
        border-bottom-left-radius: 10px;
    }

    button:last-child {
        border-bottom-right-radius: 10px;
    }
}