<main>

    <div class="title">
        <h1>{{title}}</h1>
    </div>

    <section>
        <h2>Perfil do Jogador</h2>
        <img [src]="profile.images[0]" alt="">
        <p>
            Nos campos de batalha virtuais do League of Legends, um nome ecoa com reverência entre os jogadores do Elo
            Esmeralda: Welthanos. Este misterioso invocador se destaca não apenas por sua habilidade excepcional, mas
            também por sua devoção à assassina sinistra Akali.

            Welthanos emerge das sombras do jogo com uma destreza incomparável. Seus movimentos calculados e reflexos
            afiados o tornam um adversário temível para qualquer oponente que ousar cruzar seu caminho. Sua reputação
            não se limita apenas ao seu desempenho nas partidas, mas também à sua profunda compreensão das nuances do
            jogo.
        </p>
    </section>

    <section>
        <h2>Maiores Maestrias</h2>
        <img [src]="profile.images[1]" alt="">
        <p>
            No coração de sua estratégia está sua lealdade inabalável a Akali, a Ás da Sombra. Com ela, Welthanos domina
            o campo de batalha, explorando os pontos fracos de seus inimigos e executando ataques precisos com maestria.
            Seu conhecimento íntimo de Akali e sua capacidade de antecipar os movimentos adversários são os pilares de
            seu sucesso no Elo Esmeralda.
        </p>
    </section>

    <section>
        <h2>Maior Elo Obtido</h2>
        <img [src]="profile.images[2]" alt="">
        <p>
            Fora do campo de batalha, Welthanos é um enigma. Pouco se sabe sobre sua verdadeira identidade ou
            motivações, pois ele prefere permanecer nas sombras, concentrando-se apenas em aprimorar suas habilidades e
            aprimorar suas estratégias. Seu nome, no entanto, ressoa entre os jogadores, inspirando respeito e admiração
            por sua dedicação ao jogo e sua maestria como jogador de League of Legends.
        </p>
    </section>
</main>