main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 87vh;

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 1.6rem;
    }
}