<main>
    <h2>{{title}}</h2>
    <section>
        <div>
            <img [src]="champions[0].image" alt="Moldura da campeã do League Of Legends Akali">
            <h3>{{champions[0].name}}</h3>
        </div>

        <div>
            <img [src]="champions[1].image" alt="Moldura da campeã do League Of Legends Diana">
            <h3>{{champions[1].name}}</h3>
        </div>

        <div>
            <img [src]="champions[2].image" alt="Moldura da campeã do League Of Legends Kha'Zix">
            <h3>{{champions[2].name}}</h3>
        </div>
    </section>
</main>