main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 87vh;
    gap: 3rem;

    h2 {
        font-size: 2rem;
    }

    section {
        display: flex;
        gap: 2rem;

        img {
            height: 18rem;
        }

        h3 {
            font-size: 1.7rem;
        }
    }
}